mixin product-14-fev(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-14-fev/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-23-fev(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-23-fev/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-8-march(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-8-march/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-rychnaya-rabota(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-rychnaya-rabota/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-med-png(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-med-png/'
		- var urlEnd = '.png'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-med-jpg(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-med-jpg/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-nabory-png(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-konfety-png/'
		- var urlEnd = '.png'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽

mixin product-nabory-jpg(imgUrl, title, description, price)
	div.products__item
		- var urlStart = 'img/products/podarki-konfety-jpg/'
		- var urlEnd = '.jpg'
		a(href=urlStart +  imgUrl + urlEnd, data-fancybox="gallery").products__img-box 
			img(src=urlStart + imgUrl + urlEnd)
		div.products__item-body
			div.products__product-title #{title}
			div.products__description #{description}
			div.products__price Цена: #{price} ₽